## Сначала подгружаем данные, как того требует инструкция

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
# Далее сохраняем трейн в переменную
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
# Сразу уберем несколько неинформативных столбцов, например, имя и номер билета
train_data = train_data.drop(['Name', 'Ticket', 'PassengerId'], axis=1)
train_data

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
1           1       1  female  38.0      1      0  71.2833   C85        C
2           1       3  female  26.0      0      0   7.9250   NaN        S
3           1       1  female  35.0      1      0  53.1000  C123        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000   NaN        S
887         1       1  female  19.0      0      0  30.0000   B42        S
888         0       3  female   NaN      1      2  23.4500   NaN        S
889         1       1    male  26.0      0      0  30.0000  C148        C
890         0       3    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [4]:
# Посмотрим, сколько пропущенных данных
train_data.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [5]:
# Embarked заполним модой, так как их всего 2
# train_data[['Embarked']] = train_data[['Embarked']]
top_value = train_data['Embarked'].describe().top
train_data[['Embarked']] = train_data[['Embarked']].fillna(top_value)

In [6]:
# 80% данных Cabin пропущено, поэтому этот столбец так же можно опустить
train_data = train_data.drop(['Cabin'], axis=1)
train_data

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

## незаполненные значения остались в поле возраст и вот что можно сделать

In [7]:
# Есть 3 варианта действий:
#     1. Выбросить строки с пропущенными значениями
#     2. Заполнить средним значением или модой, например
#     3. Интерполяция:
        # а. линейная
        # б. полиномиальная

### 1. Отбросим эти строки

In [8]:
train_data_dro_age = train_data.dropna()
train_data_dro_age

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
885         0       3  female  39.0      0      5  29.1250        Q
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[714 rows x 8 columns]

### 2. Заполним строки медианным зачением

In [9]:
train_data_mean_age = train_data.fillna(train_data['Age'].mode()[0])
train_data_mean_age

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  24.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

### 3. Интерполяция

In [10]:
# Еще метод, pandas.DataFrame.interpolate
# линейная интерполяция
train_data_inter_l = train_data.interpolate(method='linear')

# полиномиальная интерполяция (с указанием степени order)
train_data_inter_p = train_data.interpolate(method='polynomial', order=5)

<ipython-input-10-827b9b8c886e>:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  train_data_inter_l = train_data.interpolate(method='linear')
<ipython-input-10-827b9b8c886e>:6: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  train_data_inter_p = train_data.interpolate(method='polynomial', order=5)

## Подготовим данные для модели, переведя категориальные признаки в числа

In [11]:
def to_dummies(df):
    df = pd.get_dummies(df).astype(int)
    return df

In [12]:
# Датафрейм с опущенными NaN в Age
train_data_dro_age = to_dummies(train_data_dro_age)
# Датафрейм с модой в Age
train_data_mean_age = to_dummies(train_data_mean_age)
# Датафрейм с интерполированным Age (линейная)
train_data_inter_l = to_dummies(train_data_inter_l)
# Датафрейм с интерполированным Age (полиномиальная)
train_data_inter_p = to_dummies(train_data_inter_p)

## Делим данные на признаковые и целевую переменные

In [13]:
def X_y_data(df):
    X = df.drop('Survived', axis=1)
    y = df[['Survived']]
    return X, y

In [14]:
# Датафрейм с опущенными NaN в Age
X_train_drop, y_train_drop = X_y_data(train_data_dro_age)
# Датафрейм с модой в Age
X_train_mean, y_train_mean = X_y_data(train_data_mean_age)
# Датафрейм с интерполированным Age (линейная)
X_train_inter_l, y_train_inter_l = X_y_data(train_data_inter_l)
# Датафрейм с интерполированным Age (полиномиальная)
X_train_inter_p, y_train_inter_p = X_y_data(train_data_inter_p)

### Разделим данные на трейн и тест

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
def splitting(X, y):
    train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=45)
    return train_X, test_X, train_y, test_y

In [17]:
# Датафрейм с опущенными NaN в Age
train_X_drop, test_X_drop, train_y_drop, test_y_drop = splitting(X_train_drop, y_train_drop)
# Датафрейм с модой в Age
train_X_mean, test_X_mean, train_y_mean, test_y_mean = splitting(X_train_mean, y_train_mean)
# Датафрейм с интерполированным Age (линейная)
train_X_l, test_X_l, train_y_l, test_y_l = splitting(X_train_inter_l, y_train_inter_l)
# Датафрейм с интерполированным Age (полиномиальная)
train_X_p, test_X_p, train_y_p, test_y_p = splitting(X_train_inter_p, y_train_inter_p)

# Дерево решений

## Обучение

In [18]:
from sklearn.tree import DecisionTreeClassifier
DTC_1 = DecisionTreeClassifier(max_depth=10)
DTC_2 = DecisionTreeClassifier(max_depth=10)
DTC_3 = DecisionTreeClassifier(max_depth=10)
DTC_4 = DecisionTreeClassifier(max_depth=10)

In [19]:
def fit_model(model, X, y):
    model.fit(X, y)

In [20]:
# Датафрейм с опущенными NaN в Age
fit_model(DTC_1, train_X_drop, train_y_drop)
# Датафрейм с модой в Age
fit_model(DTC_2, train_X_mean, train_y_mean)
# Датафрейм с интерполированным Age (линейная)
fit_model(DTC_3, train_X_l, train_y_l)
# Датафрейм с интерполированным Age (полиномиальная)
fit_model(DTC_4, train_X_p, train_y_p)

# На этом этапе модель обучена

## Далее делаем предсказание

In [21]:
def prediction(model, test):
    return model.predict(test)

In [22]:
y_pred_drop = prediction(DTC_1, test_X_drop)
y_pred_mean = prediction(DTC_2, test_X_mean)
y_pred_l = prediction(DTC_3, test_X_l)
y_pred_p = prediction(DTC_4, test_X_p)

In [23]:
# Объединим трейн и тест в один датафрейм
def to_df(test, pred):
    df = pd.DataFrame()
    df['orig'] = test
    df['pred'] = pred
    return df

In [24]:
df_drop = to_df(test_y_drop, y_pred_drop)
df_mean = to_df(test_y_mean, y_pred_mean)
df_l = to_df(test_y_l, y_pred_l)
df_p = to_df(test_y_p, y_pred_p)

## Смотрим метрики, сравниваем результаты

In [25]:
from sklearn.metrics import precision_score, recall_score, f1_score, roc_curve, accuracy_score

In [26]:
def mtrx(orig, pred, s):
    pres = precision_score(orig, pred)
    rec = recall_score(orig, pred)
    f1 = f1_score(orig, pred)
    print(f'{s}. pres:{pres}, rec:{rec}, f1:{f1}')

In [27]:
mtrx(test_y_drop, y_pred_drop, 'Опущены Nan')
mtrx(test_y_mean, y_pred_mean, 'Заполнено модой')
mtrx(test_y_l, y_pred_l, 'интерполяция линейная')
mtrx(test_y_p, y_pred_p, 'интерполяция степенная')
# Выбираем лучший

Опущены Nan. pres:0.7959183673469388, rec:0.6842105263157895, f1:0.7358490566037734
Заполнено модой. pres:0.7540983606557377, rec:0.7419354838709677, f1:0.7479674796747967
интерполяция линейная. pres:0.7272727272727273, rec:0.7741935483870968, f1:0.7500000000000001
интерполяция степенная. pres:0.7903225806451613, rec:0.7903225806451613, f1:0.7903225806451614

# Логистическая регрессия

In [28]:
from sklearn.linear_model import LogisticRegression
LogReg_1 = LogisticRegression(max_iter=200)
LogReg_2 = LogisticRegression(max_iter=200)
LogReg_3 = LogisticRegression(max_iter=200)
LogReg_4 = LogisticRegression(max_iter=200)

In [29]:
# обучим эту модель 
# Датафрейм с опущенными NaN в Age
fit_model(LogReg_1, train_X_drop, train_y_drop)
# Датафрейм с модой в Age
fit_model(LogReg_2, train_X_mean, train_y_mean)
# Датафрейм с интерполированным Age (линейная)
fit_model(LogReg_3, train_X_l, train_y_l)
# Датафрейм с интерполированным Age (полиномиальная)
fit_model(LogReg_4, train_X_p, train_y_p)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [30]:
pred_drop = prediction(LogReg_1, test_X_drop)
pred_mean = prediction(LogReg_2, test_X_mean)
pred_l = prediction(LogReg_3, test_X_l)
pred_p = prediction(LogReg_4, test_X_p)

### Снова сравниваем метрики

In [31]:
mtrx(test_y_drop, pred_drop, 'Опущены Nan')
mtrx(test_y_mean, pred_mean, 'Заполнено модой') # лучший вариант
mtrx(test_y_l, pred_l, 'интерполяция линейная')
mtrx(test_y_p, pred_p, 'интерполяция степенная')

Опущены Nan. pres:0.7592592592592593, rec:0.7192982456140351, f1:0.7387387387387387
Заполнено модой. pres:0.7619047619047619, rec:0.7741935483870968, f1:0.768
интерполяция линейная. pres:0.7741935483870968, rec:0.7741935483870968, f1:0.7741935483870968
интерполяция степенная. pres:0.7619047619047619, rec:0.7741935483870968, f1:0.768

# Ансамбли

### Stacking

In [32]:
from sklearn.ensemble import StackingClassifier

In [33]:
# Создание ансамбля с использованием стекинга
estimators = [
    ('tree', DTC_4),
    ('log_reg', LogReg_4)
]
stacking_clf = StackingClassifier(estimators=estimators, final_estimator=LogisticRegression())

In [34]:
# Обучение модели
stacking_clf.fit(train_X_mean, train_y_mean)

# Предсказание на тестовой выборке
y_pred = stacking_clf.predict(test_X_mean)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [35]:
### Оценка метрик ансамбля 1
precision = precision_score(test_y_mean, y_pred)
rec = recall_score(test_y_mean, y_pred)
print(f'precision: {precision:.2f}\n recall: {rec:.2f}')

precision: 0.81
 recall: 0.81

### Бустинг

In [36]:
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier

In [37]:
# Создание ансамбля с использованием AdaBoost
adaboost_clf = AdaBoostClassifier(estimator=DTC_4, n_estimators=50, learning_rate=1.0, random_state=42)

In [38]:
# Обучение модели AdaBoost
adaboost_clf.fit(train_X_mean, train_y_mean)

# Предсказание на тестовой выборке AdaBoost
y_pred_adaboost = adaboost_clf.predict(test_X_mean)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [39]:
# метрики ансамбля 2
precision = precision_score(test_y_mean, y_pred_adaboost)
rec = recall_score(test_y_mean, y_pred_adaboost)
print(f'precision: {precision:.2f}\n recall: {rec:.2f}')

precision: 0.71
 recall: 0.74

In [40]:
# Создание ансамбля с использованием GradientBoosting
gradientboosting_clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=5, random_state=42)

In [41]:
# Обучение модели GradientBoosting
gradientboosting_clf.fit(train_X_mean, train_y_mean)

# Предсказание на тестовой выборке GradientBoosting
y_pred_gradientboosting = gradientboosting_clf.predict(test_X_mean)

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [42]:
# метрики ансамбля 2
precision = precision_score(test_y_mean, y_pred_gradientboosting)
rec = recall_score(test_y_mean, y_pred_gradientboosting)
print(f'precision: {precision:.2f}\n recall: {rec:.2f}')
# этот ансамбль показывает лучшие метрики

precision: 0.83
 recall: 0.85

## Пришло время подгружать инференс

In [43]:
test_data_orig = pd.read_csv('/kaggle/input/titanic/test.csv')
test_data_orig

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

#### Оставляем только те столбцы, что оставили в трейне

In [44]:
test_data = test_data_orig.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
test_data

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  34.5      0      0    7.8292        Q
1         3  female  47.0      1      0    7.0000        S
2         2    male  62.0      0      0    9.6875        Q
3         3    male  27.0      0      0    8.6625        S
4         3  female  22.0      1      1   12.2875        S
..      ...     ...   ...    ...    ...       ...      ...
413       3    male   NaN      0      0    8.0500        S
414       1  female  39.0      0      0  108.9000        C
415       3    male  38.5      0      0    7.2500        S
416       3    male   NaN      0      0    8.0500        S
417       3    male   NaN      1      1   22.3583        C

[418 rows x 7 columns]

In [45]:
test_data.isna().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [46]:
# Как было в трейне, заполним недостающие данные модой
test_data['Age'] = test_data['Age'].fillna(test_data['Age'].mode()[0])
test_data['Fare'] = test_data['Fare'].fillna(test_data['Fare'].mode()[0])
test_data

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  34.5      0      0    7.8292        Q
1         3  female  47.0      1      0    7.0000        S
2         2    male  62.0      0      0    9.6875        Q
3         3    male  27.0      0      0    8.6625        S
4         3  female  22.0      1      1   12.2875        S
..      ...     ...   ...    ...    ...       ...      ...
413       3    male  21.0      0      0    8.0500        S
414       1  female  39.0      0      0  108.9000        C
415       3    male  38.5      0      0    7.2500        S
416       3    male  21.0      0      0    8.0500        S
417       3    male  21.0      1      1   22.3583        C

[418 rows x 7 columns]

In [47]:
# дале снова превратим категориальные данные в числовые
test_data = pd.get_dummies(test_data).astype(int)
test_data

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34,0,0,7,0,1,0,1,0
1,3,47,1,0,7,1,0,0,0,1
2,2,62,0,0,9,0,1,0,1,0
3,3,27,0,0,8,0,1,0,0,1
4,3,22,1,1,12,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
413,3,21,0,0,8,0,1,0,0,1
414,1,39,0,0,108,1,0,1,0,0
415,3,38,0,0,7,0,1,0,0,1
416,3,21,0,0,8,0,1,0,0,1
417,3,21,1,1,22,0,1,1,0,0

In [48]:
predicted = gradientboosting_clf.predict(test_data)

In [49]:
# теперь формируем csv для отправки решения
sub = pd.DataFrame()
sub['PassengerId'] = test_data_orig['PassengerId']
sub['Survived'] = predicted
sub.to_csv("/kaggle/working/submission.csv", index=False)